article.container.index
  section.instruction
    .arrow-up
      .arrow-up__point
      .arrow-up__line
    .tip. Bookmark!
    a(href=bmltCode).
      LGTM
  h1.title
    a.lgtmin(href='//www.lgtm.in/', target='_blank'). LGTM.in
    span.times. &times
    a.github(href='//github.com/', target='_blank'). GitHub
    | &nbsp
    .bmlt. Bookmarklet
  section.screen