article.container.index
  section.instruction
    a(href=bmltCode).
      LGTM
  h1.title
    span.lgtmin. LGTM.in
    span.times. &times
    span.github. GitHub
    | &nbsp
    .bmlt. Bookmarklet
  section.screen