doctype html
html(lang='en')
  head
    title= title
    link(rel='stylesheet', href='/app.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Cabin+Sketch')
    script(type='text/javascript', src='http://code.jquery.com/jquery-2.1.1.min.js')
    meta(name='viewport' content='width=420, user-scalable=yes')
  body!= body
  footer
    h4.by
      a(href='/') LGTM.in GitHub Bookmarklet <3
    .support
      | Mention
      | &nbsp;
      a(href='//twitter.com/yukihr', target='_blank') @yukihr
      | &nbsp;
      | for support.
    .source
      a(href='//github.com/yukihr/lgtmin-github-bookmarklet', \
        target='_blank') Source code.
    .thanks
      | Special thanks to
      | &nbsp;
      a(href='//www.lgtm.in/', target='_blank') LGTM.in
