doctype html
html(lang='en')
  head
    title= title
    link(rel='stylesheet', href='/app.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Cabin+Sketch')
    script(type='text/javascript', src='http://code.jquery.com/jquery-2.1.1.min.js')
  body!= body
  footer
    .by
      a(href='/'). LGTM.in GitHub Bookmarklet
      | &nbsp;
      | is made with <3
    .source
      | Source code is hosted on
      | &nbsp;
      a(href='//github.com/yukihr/lgtmin-github-bookmarklet'). GitHub
      | .
    .support
      | Mention
      | &nbsp;
      a(href='//twitter.com/yukihr', target='_blank'). @yukihr
      | &nbsp;
      | for support.
    .thanks
      | Special thanks to
      | &nbsp;
      a(href='//www.lgtm.in/', target='_blank') LGTM.in
