article.container.lgtm_create
  h2. Success!
  p. This window will be closed..

script(type='text/javascript').
  $(function(ev) {
    setTimeout(function(ev) {
      window.open('about:blank', '_self').close();
    }, 1000);
  });