article.container.lgtm
  .user
    span.pre. Posting as
    img.avatar(src=user.avatar_url)
    span.login= user.login
    a.logout(href='/out'). Update to GitHub login.
  #lgtm-form(data-csrf=csrf data-login-user=user.login)

script(src='lgtm.js')
script(type='text/javascript').
  $(function(ev) {
    var $text = $('.text textarea')
        , $submits = $('.lgtm-form__item.is-submit');
    $('.lgtm-form').on('submit', function(ev) {
      $submits.attr('disabled', true);
      $('.lgtm-form__item.is-text').val($text.val());
    });
  });