article.container.lgtm
  .user
    span.pre Posting as
    img.avatar(src=user.avatar_url)
    span.login= user.login
    a.logout(href='/out') Update to GitHub login.
  #lgtm-form(data-csrf=csrf data-login-user=user.login)

script(src='lgtm.js')