@import 'nib'
@import 'jeet'

global-reset()
reset-html5()

// custom reset
button
  appearance none
  border none
  padding 0
  margin 0
  background-color transparent

a
  color: inherit
  text-decoration: none

textarea
  appearance none
  border none
  margin 0
  padding 0
textarea:focus
  outline: none !important

// vars
black = #222
gray = #666
gray-light = #999
gray-lighter = #ccc
// yellow = #FDDB21
yellow = #FDF100
yellow-bg = #FDF100
white-bg = #fcfcfc
blue-bg = #B9E7F1
red-bg = #ff7f7f

container-max-width = 500px

// functions
calc()
  if current-property
    for prefix in vendors
      arguments = unquote(arguments)
      add-property(current-property[0], s('-%s-calc(%s)-', prefix, arguments))
    s('calc(%s)', arguments)
  else
    error('calc() must be used within a property')

// global
@font-face
  font-family 'Collegiate'
  src url('/COLLEGIA.ttf') format('truetype')

body
  font-family 'HelveticaNeue-UltraLight', 'Helvetica', 'Arial', 'MS PGothic', sans-serif
  font-smoothing subpixel-antialiased
  background-color white-bg
  letter-spacing 0.1em

a
  padding 2px 4px
  border-bottom solid 2px yellow
  transition background-color 0.3s ease 0
a:hover
  background-color yellow

.container
  max-width container-max-width
  margin 0 auto

@import 'index'
@import 'footer'
@import 'lgtm'
@import 'lgtm_create'