@import 'nib'
@import 'jeet'

global-reset()

// vars
black = #222
yellow = #FDF100
white-bg = #fcfcfc
blue-bg = #B9E7F1
red-bg = #ff7f7f

// global
@font-face
  font-family 'Collegiate'
  src url('/COLLEGIA.ttf') format('truetype')
body
  font-family sans-serif
  font-smoothing subpixel-antialiased
  background-color white-bg
  height 100%

@import 'index'