@import 'nib'
@import 'jeet'

global-reset()

// vars
black = #222
white-bg = #f6f6f6
blue-bg = #B9E7F1
red-bg = #ff7f7f

// global
body
  font-family sans-serif
  //background linear-gradient(top left, blue-bg, red-bg)
  background-color white-bg
  height 100%

@import 'index'