footer
  margin-top: 30px
  margin-bottom: 20px
  text-align center
  line-height 2em
  color gray-light
  a
    padding 2px 4px
    border-bottom solid 1px yellow
    transition background-color 0.3s ease 0
  a:hover
    background-color yellow