.container.index
  text-align center
  .instruction
    margin-top 200px
    a
      text-decoration none
      display inline-block
      color black
      font-size 30px
      font-weight 100
      letter-spacing 0.1em
      padding 8px 32px
      background-color white-bg
      border solid 2px black
      border-radius 3px