.container.index
  text-align center
  .instruction
    margin-top 200px
    a
      text-decoration none
      display inline-block
      text-align center
      color black
      font-size 30px
      font-weight 100
      letter-spacing 0.1em
      padding 8px 32px
      background-color white-bg
      border solid 2px black
      vertical-align middle
      transition background-color 0.3s ease 0
    a:hover
      background-color rgba(yellow, 0.5)
  .title
    margin 80px 0
    font-size 50px
    font-weight 300
    .lgtmin
      width 180px
      display inline-block
      font-family 'Cabin Sketch' cursive
      font-size 45px
    .times
      position relative
      left 8px
    .github
      width 180px
      display inline-block
      font-family 'Collegiate' cursive
    .bmlt
      font-size 40px
      margin-top 40px