.container.lgtm
  .user
    position relative
    margin 10px 0
    color gray-light
    .pre
      float left
    .avatar
      height 40px
      width 40px
      border-radius 50%
      display inline-block
      margin 0 3px 0 10px
    .login
      font-size 12px
    .logout
      float right
  ul
    margin-bottom 10px
    li
      margin-top 10px
      img, button
        width 100%
      img
        min-height: 30px
        background-color yellow
      button
        cursor pointer