.container.lgtm
  .user
    margin 10px 0
    padding 0 4px
    color gray-light
    .pre
      vertical-align top
    .avatar
      height 50px
      width 50px
      border-radius 50%
      display inline-block
      margin 10px 3px 0 10px
    .login
      font-size 0.8em
    .logout
      float right
      margin-right -4px
      vertical-align top
  .mode
    margin-top -17px
    margin-bottom 10px
    text-align right
    color gray-light
    a, span
      margin-right 5px
  .text
    textarea
      font-size 16px
      width calc('100% - 20px')
      height 80px
      padding 10px
      border-top solid 1px gray-lighter
      border-bottom solid 1px gray-lighter
  .browse-link
    text-align right
    color gray-light
    margin-top 3px
  ul
    margin-bottom 10px
    li
      margin-top 10px
      img, button
        width 100%
      img
        min-height: 30px
        background-color yellow
      button
        cursor pointer